.clients {
  background: $bg-primary-color;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -30px;

  /*@media screen and (min-width: 768px) {
    justify-content: center;
  }*/
}
.client-item {
  max-height: 45px;
  max-width: 90px;
  fill: $icon-primary-color;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: linear;
}
.client-site {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: $border $icon-primary-color;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 30px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:active,
  &:focus {
    border: $border $accent-color;
  }

  &:hover .client-item,
  &:active .client-item,
  &:focus .client-item {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
