.filter-btn-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  & .list-item {
    margin-right: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
  }
}
.filter-btn {
  margin-bottom: 15px;
}
