.footer {
  background: $bg-dark-color;
  padding: 60px 0px;
}
.footer .box {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}
.box div:not(:last-child) {
  padding-bottom: 60px;
}
.footer .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    justify-content: start;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
    margin: 0;
    max-width: fit-content;
    align-items: flex-start;
  }
}
.footer .link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  padding: 4px 0px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.contacts-list .list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.footer .adress-link {
  color: $bg-primary-color;
}
.footer-contacts {
  color: $white-transparent60;
}
.footer h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: $bg-primary-color;
  margin-top: 12px;
  margin-bottom: 20px;
}
.footer .social-link {
  background-color: $white-transparent10;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.footer .social-link-icon {
  width: 20px;
  height: 20px;
  fill: $bg-primary-color;
}
