.header {
  background-color: $bg-primary-color;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  border-bottom: $border #ececec;
}
.nav-bar,
.nav,
.header-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
