.header-contacts .link {
  display: inline-flex;
  align-items: center;
  color: $text-color;

  padding: 8px 0px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    margin: auto 0px;
    padding: 5px 0px;
  }

  @media screen and (min-width: 1200px) {
    padding: 32px 0px;
  }
}
.header-contacts .list-item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
.header-contacts {
  font-size: 18px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    flex-direction: row;
  }
}
.mail-icon,
.tel-icon {
  fill: currentColor;
  margin-right: 10px;
}
.mail-icon {
  @media screen and (max-width: 767px) and (min-width: 1200px) {
    width: 18px;
    height: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 14px;
  }
}

.tel-icon {
  width: 16px;
  height: 18px;

  @media screen and (min-width: 768px) {
    width: 14px;
    height: 16px;
  }
}
