.menu {
  position: absolute;
  height: 393px;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  width: 100%;
  padding: 60px;
  background: $bg-primary-color;

  transform: translateY(calc(-100% - 60px));

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: flex;
    height: 80px;
    background: $bg-primary-color;
    display: flex;
    align-items: center;
  }
}
.menu.is-open {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 10;

  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 30%;
    width: 70%;

    transform: translateY(0);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 0px 0px;

    background: transparent;
    box-shadow: none;
  }
}

.header .box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}
