.header .link {
  position: relative;

  display: inline-block;
  padding: 20px 0px;
  color: $title-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav-bar {
  margin-bottom: 40px;
  text-align: center;
}
.nav .current {
  color: $accent-color;
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 8px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
