.header .link {
  position: relative;

  display: inline-block;
  padding: 20px 0px;
  color: $title-color;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0px;
  }
}
.nav-bar {
  margin-top: -20px;
  margin-bottom: 40px;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}
.nav-item {
  @media screen and (min-width: 768px) {
    display: inline;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
.nav .current {
  color: $accent-color;
  &::after {
    content: "";
    display: block;
    position: absolute;
    margin-top: 8px;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }
}
.link.current {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
