.portfolio-list {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: inline-flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.portfolio-item {
  box-sizing: border-box;
  max-width: 450px;
  height: auto;
  max-height: 404px;
  background: $bg-primary-color;
  border: $border #eeeeee;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.portfolio-link {
  box-sizing: content-box;

  display: inline-block;
  width: 100%;
  height: 100%;
  border: $border transparent;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: linear;

  &:hover,
  &:focus,
  &:active {
    border: $border #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: linear;
  }

  .portfolio-overlay {
    position: absolute;
    top: 0;

    box-sizing: border-box;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background: $overlay-transparent-accent;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .portfolio-overlay,
  &:focus .portfolio-overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-prewiew {
  position: relative;
  box-sizing: content-box;

  width: 100%;
  height: auto;
  max-height: 294px;
  overflow: hidden;
}
.portfolio-prewiew img {
  width: 100%;
  max-height: 294px;
}

.overlay-description {
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: $bg-primary-color;
}

.portfolio-prewiew-description {
  box-sizing: border-box;

  width: 100%;
  padding: 20px 24px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }

  & h3 {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $title-color;
    margin-bottom: 4px;
  }
}
.portfolio-link-description {
  display: block;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: $text-color;
}
