.team {
  background: $bg-secondary-color;
  padding: 94px 0px;

  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: space-between;
}
.team-list .card:not(:first-child) {
  margin-left: 30px;
}
.card {
  width: 270px;
  background: $bg-primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card img {
  margin-bottom: 30px;
}
.card h3 {
  font-weight: 500;
  color: $title-color;
  margin-bottom: 10px;
}
.card p {
  color: $text-color;
  margin-bottom: 16px;
}
