.team {
  background: $bg-secondary-color;

  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list .card:not(:last-child) {
  margin-bottom: 30px;
}
.card {
  max-width: 450px;
  background: $bg-primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    padding-bottom: 30px;
  }
}
.card img {
  width: 100%;
  margin-bottom: 30px;
}
.card h3 {
  font-weight: 500;
  color: $title-color;
  margin-bottom: 10px;
}
.card p {
  color: $text-color;
  margin-bottom: 16px;
}
