body {
  background: $bg-primary-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
ul,
ol {
  list-style: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
}
a {
  text-decoration: none;
}
.box {
  display: flex;
  justify-content: space-between;
}

:disabled {
  background-color: $text-color;
  color: $bg-primary-color;
}
:active {
  outline: none;
}
