$bg-primary-color: #ffffff;
$white-transparent10: rgba(255, 255, 255, 0.1);
$white-transparent30: rgba(255, 255, 255, 0.3);
$white-transparent60: rgba(255, 255, 255, 0.6);

$bg-secondary-color: #f5f4fa;
$icon-primary-color: #afb1b8;
$text-color: #757575;

$bg-dark-color: #2f303a;
$title-color: #212121;
$overlay-transparent80: rgba(47, 48, 58, 0.8);
$overlay-transparent40: rgba(47, 48, 58, 0.4);
$overlay-transparent20: rgba(0, 0, 0, 0.2);

$accent-color: #2196f3;
$overlay-transparent-accent: rgba(33, 150, 243, 0.9);

$border: 1px solid;
